<style type="text/css">

body {
    font-family:Arial, Helvetica, sans-serif;
}

.sh-people {

}

.smsf-white {
  padding: 6px 0px 0px 20px;
  color: #fff;
  background-color: #63a0d3;
  width: 320px;
}

h1 {
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 10px;
  font-weight:bold;
  color: #fff;
}

h2 {
  font-size: 18px;
  line-height: 22px;
  font-weight:bold;
  color: #2b719f;
}


h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight:bold;
}

h5 {
  text-decoration: underline;
  color: #2b719f;
}


a {
  text-decoration: underline;
  color: #2b719f;
}


ul li {

  font-size: 15px;
  line-height: 20px;
  padding-bottom: 10px;
}

.blue {
  background-color: #63a0d3;
}

.aqua {
  background-color: #2b719f;
  height: 60px;
  text-align: left;
}

.black-text {
  padding: 20px 5px 20px 0;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  width: 350px; }

.smsf-photo {
  padding: 5px 0 5px 0; }

.property-image {
    padding: 21px 0 10px 21px;
}

.black-text2 {
  padding: 2px 5px 20px 0;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  width: 350px;
  }

.smsf-learn2 {
  text-align: right;
  padding: 10px 18px 0 0;
}

</style>
<table width="721" border="0" cellpadding="0" cellspacing="0">
    <thead colspan="2">
        <tr>
            <th colspan="3">
            <table cellspacing="0" cellpadding="0" style="text-align: center">
                <tbody>
                    <tr>
                        <td rowspan="2"><img src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz51da259407b37191/interface.gif" alt="" style="font-family: Arial, Helvetica, sans-serif; text-align: start;" /></td>
                        <td colspan="7"><img border="0" alt="" width="192" height="80" src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz4fd08d23d96e5965/interface.gif" /></td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://www.facebook.com/Silverhall.Investor.News"><img border="0" alt="" src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz4fd08d655a6ac617/interface.gif" /></a></td>
                        <td><a target="_blank" href="http://twitter.com/#!/silverhall_au"><img border="0" alt="" src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz4fd08d85ac431851/interface.gif" /></a></td>
                        <td><a target="_blank" href="http://www.linkedin.com/company/2528582?trk=tyah"><img border="0" alt="" src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz4fd08db19a917117/interface.gif" /></a></td>
                        <td><a target="_blank" href="http://plus.google.com/117674682359859458766/posts"><img border="0" alt="" src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz4fd08dca206fd727/interface.gif" /></a></td>
                        <td><a target="_blank" href="http://www.youtube.com/silverhallau"><img alt="" src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz4fd08de4b3fa7043/interface.gif" border="0" /></a></td>
                        <td><a target="_blank" href="http://www.propertyinvestmentsilverhall.com.au"><img border="0" alt="" src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz4fd08e0547743382/interface.gif" /></a></td>
                        <td><img alt="" src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz4fd08e1c2a1db881/interface.gif" /></td>
                    </tr>
                </tbody>
            </table>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2" class="sh-people"><img src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz51da1ce135d7b173/interface.gif" alt="" style="font-family: Arial, Helvetica, sans-serif;" /></td>
        </tr>
        <tr>
            <td width="357" valign="bottom"><img alt="" src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz51da1fc7c4453792/interface.gif" height="264" width="357" border="0" /></td>
            <td width="365">

            <table width="350" border="0" cellpadding="0" style="" class="black-text">
  <tr>
    <td style="font-size:15px;">Since 1999, we have been empowering our clients to meet their objectives when investing in property.               <br />
            <br />
            Our proven specialist propriety research process identifies key geographic housing regions that will grow in value at an above average rate. We are dedicated to providing you with a full circle service unique to each client’s financial footprint and objectives.                <br />
            <br />
            From entry to the market right through to exit, our client’s benefit from know their investments are being actively managed in an effort to maximise the returns of their investments and build their wealth.</td>
  </tr>
</table>









            </td>
        </tr>
        <tr class="blue">
            <td class="smsf-white" style="padding-top:20px;">

            <h1>Have you thought of SMSF</h1>
            <ul>
                <li>Take control of your super and</li>
                <li>Pay no capital gains tax or tax on<br />
                rental income, once in pension phase</li>
                <li>Investment loans taken out for<br />
                borrowing in a SMSF require no personal security</li>
            </ul>

            </td>
            <td align="left">
            <table width="350" border="0" cellpadding="10" class="smsf-photo">
  <tr>
    <td><img src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz51da203c55d1c469/interface.gif" alt="" style="font-family: Arial, Helvetica, sans-serif;" /></td>
  </tr>
</table>



            </td>
        </tr>
        <tr class="smsf">
            <td class="aqua">&#160;</td>
            <td class="aqua">

            <table width="300" border="0" cellpadding="10" class="smsf-learn">
  <tr>
    <td ><img src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz51da2082e912a197/interface.gif" alt="" style="font-family: Arial, Helvetica, sans-serif;" /></td>
  </tr>
</table>


            </td>
        </tr>
        <tr>
            <td valign="top">

            <table width="316" border="0" cellpadding="15" class="property-image">
  <tr>
    <td><img src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz51da20bc9ead2285/interface.gif" alt="" style="font-family: Arial, Helvetica, sans-serif;" /></td>
  </tr>
</table>







    <table width="190" border="0" cellpadding="5" class="smsf-learn2" align="right">
  <tr>
    <td>

    <img src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz51da2082e912a197/interface.gif" alt="" style="font-family: Arial, Helvetica, sans-serif;" /></td>
  </tr>
</table>


            </td>
            <td>

            <table width="350" border="0" cellpadding="5" class="black-text2">
  <tr>
    <td style="padding-top:10px;"><h3>Maroochydore NRAS Approved</h3>
            <p>Set to be one of the most exciting locations for investment and employment growth.</p>
            <h2>$49 positive cash flow per week</h2>
            <p>The Emporio residential community is located adjacent to the region’s largest shopping hub and business centre – yet it is also positioned to take advantage of the lakes, green spaces and beaches.  The Emporio offers investors an outstanding opportunity to generate positive cashflow per week.</p>
            <h5><a href="#">Watch Video Now</a></h5></td>
  </tr>
</table>



            </td>
        </tr>
        <tr class="smsf">
            <td valign="top">

            <table width="318" border="0" cellpadding="10" class="property-image">
  <tr>
    <td><img src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz51da20d61bc2b971/interface.gif" alt="" style="font-family: Arial, Helvetica, sans-serif;" /></td>
  </tr>
</table>


         <table width="190" border="0" cellpadding="5 class="smsf-learn2" align="right">
  <tr>
    <td><img src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz51da2082e912a197/interface.gif" alt="" style="font-family: Arial, Helvetica, sans-serif;"/></td>
  </tr>
</table>
            </td>
            <td>
            <table width="350" border="0" cellpadding="5" class="black-text2">
  <tr>
    <td style="padding-top:10px;"><h3>Broome NRAS Approved</h3>
            <p>ONE OF THE STRONGEST INCOME PRODUCING INVESTMENTS TO DATE.</p>
            <h2>$169 positive cash flow per week</h2>
            <p>As the gateway to Western Australia’s Kimberley region, Broome offers compelling cash flow and growth potential.  Selected due to the significant shortage of housing in Broome, and enhanced with an NRAS incentive.  Significant upside opportunity stemming from the Woodside Energies’ Browse Basin gas reserve.</p></td>
  </tr>
</table>


            </td>
        </tr>
        <tr class="smsf">
            <td colspan="2"><a href="https://silverhall.com.au/schedule-an-appointment" target="_blank"><img src="https://suite.peoplelogic.com.au/media/dynamic/id/b744c2e7eb441c2b40dfzzzz51da21f7674a5822/interface.gif" alt="" style="color:  #000000; font-family: Arial, Helvetica, sans-serif;" /></a></td>
        </tr>
    </tbody>
</table>